*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;

}

@font-face {
    font-family: 'EditorialNew';
    src: url("fonts/PPEditorialNew-Ultralight.woff2");
}

@font-face {
    font-family: 'EditorialNew';
    src: url("fonts/PPEditorialNew-UltralightItalic.woff2");
    font-style: italic;
}

@media (max-width: 992px) {
    :root{
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    :root{
        font-size: 14px;
    }
}


:root{
    --primary-color: #000;
}

a{
    color: inherit;
    text-decoration: none;
}

/*-------- grid --------*/
.container-fluid{
    padding-left: 2rem;
    padding-right: 2rem;
}

.row{
    --bs-gutter-sx: 1rem;
}

/*-------- body --------*/

body{
    font-family: "neue-haas-grotesk-display", sans-serif;
    background-color: #f0eee9; 
}

/*-------- header --------*/

/* Header container */
.header-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 2rem;
}

/* Linha inferior com margem */
.header-container::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 2rem;   /* distância da esquerda */
    right: 2rem;  /* distância da direita */
    height: 1px;
    background-color: var(--primary-color);
}

.carolina-goncalves img{
    height: 3.5rem;
    width: auto;
    display: block;
}

/* Lista de navegação horizontal */
.main-nav ul{
    list-style: none;
    display: flex;             /* links lado a lado */
    gap: 2rem;                 /* espaço entre Archive e Work */
    margin: 0;
    padding: 0;
}

.main-nav a{
    text-decoration: none;
    color: inherit;
    font-family: 'EditorialNew';
    text-transform: uppercase;
    font-size: 2rem;           /* tamanho maior */
    transition: all 0.2s ease;
}

.main-nav a:hover{
    font-style: italic;
}


@media (max-width: 576px){
    .main-nav ul{
        flex-direction: row;      /* 👈 mantém lado a lado */
        align-items: center;
        gap: 1rem;
    }

    .main-nav a{
        font-size: 1.2rem;
    }

    .carolina-goncalves img{
    height: 2.2rem;
    width: auto;
    display: block;
}
}



/*-------- main --------*/

main.home {
  min-height: calc(100dvh - 6rem);
  display: flex;
  align-items: flex-end;
}

main.work{
   min-height: calc(100dvh - 3rem);
  display: flex;
  align-items: flex-end;
}


main.single{
    padding-top: 2rem; 
}

main.archive{
    padding-top: 2rem;
}

@media (max-width: 576px) {
    main.home{
        height: calc(100vh - 5rem);
    }
}

/*-------- index / about --------*/

.about-text{
    font-size: 3.25rem;
    font-family: 'EditorialNew';
    margin-bottom: 2rem;
}

.about-text p + p {
    text-indent: 4rem;
}

.hover-preview{
    position: fixed;
    top: 8rem;
    right: 2rem;

    width: 33.333vw;          /* equivalente a 4 colunas */
    aspect-ratio: 16 / 9;     /* força proporção 16:9 */

    background-size: cover;
    background-position: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

.area-interest:hover{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 2px;
}



@media (max-width: 576px) {
    .about-text{
        font-size: 1.8rem;
    }
 
    .about-text p + p {
        text-indent: 4rem;
    }
}

/*-------- Work --------*/

.is-hidden{
    display:none;
}

.card{
    position: relative;
}

.card:hover .card-image{
    opacity: 1;
    transform: scale(1);
    z-index: 1000;
}

.card-image{
    position: absolute;
    top: -3.2rem;
    left: 66%;
    pointer-events: none;

    opacity: 0;
    transform: scale(.95);

}

.card-image img{
    width: 24rem;
    height: auto;
}
.work-areas, .work-year{
    list-style: none;
    font-size: 1rem;
    line-height: 1.25rem;
}

.work-year{
    text-align: right;
}

.work-subtitle{
    font-family: 'EditorialNew';
    font-size: 3rem;
    line-height: 1.1;
}

.work-subtitle:hover{
    font-family: 'EditorialNew';
    font-style: italic;
    line-height: 1.1;
}

.work article{
    border-top: 1px solid black; 
    padding: 1.5rem 0;
    margin-top: -1px;
}

@media (max-width: 576px) {

    .work-areas{
        display: none;
    }

    .work-subtitle{
        font-size: 2.2rem;
        line-height: 1.2;
        padding-bottom: 1rem;
    }
    
    .card-image{
        display: block;
        position: static;
        opacity: 1;          /* 👈 garante visibilidade */
        transform: none;     /* 👈 remove animação */
        pointer-events: auto;
    }

    .card-image img{
        width: 100%;
        height: auto;
    }

}

@media (max-width: 992px) {

    .work-areas{
        display: none;
    }

    .card-image{
        display: block;
        opacity: 1;          /* 👈 garante visibilidade */
        transform: none;     /* 👈 remove animação */
        position: static;
    }
    
    .card-image img{
        width: 100%;
        height: auto;
    }
    .work-subtitle{
        padding-bottom: 1rem;
    }
}


/*-------- Single --------*/

.single .container-fluid{
    margin-bottom: 3rem;
    flex-wrap: wrap
}

.single-info{
    position:sticky;
    top: 8rem;
}

.single-title{
    font-size: 3rem;
    line-height: 3.5rem;
    font-family: 'EditorialNew';
    margin-bottom: 1rem;
}

.single-text{
    font-size: 1.2rem;
    list-style: 1.5rem;
    margin-bottom: 3rem;
}

.single-text p + p {
    text-indent: 2rem;
}

.single-details{
    font-size: 1rem;
}

.single-details :last-child{
    padding-bottom: 2rem;
}

.single-image{
    list-style: none;
    padding-bottom: 0rem;
}

.single-image img{
    width: 100%;
    height: auto;
}

.single-image + .single-image {
    margin-top: .5rem;
}

@media (max-width: 576px) {
    .single-details{
        padding-bottom: 2rem;
    }
}


/*-------- Archive --------*/


.container-archive{
    padding-left: 2rem;
    padding-right: 2rem;
}

.archive-title{
    font-size: 3rem;
  line-height: 3.5rem;
  font-family: 'EditorialNew';
  margin-bottom: 1rem;
    /*-text-transform: uppercase;-*/
}


.archive-image{
    margin-bottom: 2rem;
}

.archive-image img{
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px){

    .col-6{
        width: 100%;
    }

    .col-4{
        width: 100%;
    }

}

/*-------- Footer --------*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    height: 3rem;
    border-top: 1px solid var(--primary-color);
    font-family: "neue-haas-grotesk-display", sans-serif;
}

@media (max-width: 576px) {
    footer{
        display: block;
        height: 3rem;
        padding-top: .8rem;
    }
}

footer nav ul{
    display: flex;
    list-style: none;
    
}

footer nav ul li{
    margin-left: 1.5rem;
    font-size: 1rem;
}

@media (max-width: 576px) {
    footer nav ul li{
        display: none;
    }
    

}

footer nav ul li:hover{
    font-style: italic;
}

footer div:hover{
    font-style: italic;
}

